In [1]:
import pandas as pd
import numpy as np

In [8]:
a = [1,2,3,4,5]
b = [5]

In [9]:
if b.value in a : 
    print('test_sucess')
else:
    print('test_fail')

test_fail

In [4]:
b in a

True

In [13]:
if b[0] in a:
    a.remove(b[0])
a

[1, 2, 3, 4]

In [12]:
b[0]

5

In [11]:
b.value

AttributeError: 'list' object has no attribute 'value'

In [14]:
a

[1, 2, 3, 4]

In [2]:
test_df = pd.read_csv('C:/Users/exem/Documents/GitHub/anomaly-detection-research/20220421101914/214_20220420.csv')
test_df['idx'] = test_df.index
metric ="tps"
test_data = test_df[['idx', metric]]
# test = test_data[metric] - train_data.groupby('idx').mean()[metric]
# test = np.array([test]).T

In [5]:
test_data

       idx   tps
0        0  1.20
1        1  0.70
2        2  0.60
3        3  0.85
4        4  1.45
...    ...   ...
1435  1435  3.75
1436  1436  3.20
1437  1437  2.30
1438  1438  1.75
1439  1439  2.75

[1440 rows x 2 columns]

In [6]:
test_data2 = test_data.tps-1

In [7]:
test_data2

0       0.20
1      -0.30
2      -0.40
3      -0.15
4       0.45
        ...
1435    2.75
1436    2.20
1437    1.30
1438    0.75
1439    1.75
Name: tps, Length: 1440, dtype: float64

In [8]:
test_data['tps2'] = test_data2

C:\Users\exem\AppData\Local\Temp/ipykernel_12836/591029896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['tps2'] = test_data2

In [9]:
test_data

       idx   tps  tps2
0        0  1.20  0.20
1        1  0.70 -0.30
2        2  0.60 -0.40
3        3  0.85 -0.15
4        4  1.45  0.45
...    ...   ...   ...
1435  1435  3.75  2.75
1436  1436  3.20  2.20
1437  1437  2.30  1.30
1438  1438  1.75  0.75
1439  1439  2.75  1.75

[1440 rows x 3 columns]

In [10]:
test_data['tps'] = test_data.tps - test_data.tps2

C:\Users\exem\AppData\Local\Temp/ipykernel_12836/1496162822.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['tps'] = test_data.tps - test_data.tps2

In [11]:
test_data

       idx  tps  tps2
0        0  1.0  0.20
1        1  1.0 -0.30
2        2  1.0 -0.40
3        3  1.0 -0.15
4        4  1.0  0.45
...    ...  ...   ...
1435  1435  1.0  2.75
1436  1436  1.0  2.20
1437  1437  1.0  1.30
1438  1438  1.0  0.75
1439  1439  1.0  1.75

[1440 rows x 3 columns]

In [ ]:
test_data.tps.transform(lambda x: x - x.mean())

In [ ]:
df['time']=pd.to_datetime(df['time'])
df.reset_index(drop=True, inplace=True)
df['date']=df['time'].dt.date
df_date_list = df.date.unique()
total_min_df = pd.DataFrame() 
for i in df_date_list
    data = df[df.date==i].resample('1T').asfreq()
    total_min_df = pd.concat([total_min_df,data])
total_min_df

In [7]:
test_data.set_index(np.arange(7))

ValueError: Length mismatch: Expected 1440 rows, received array of length 7

In [ ]:
raw_df['time'] = pd.to_datetime(raw_df['time'])
        raw_df['date'] = raw_df['time'].dt.date
        df_date_list = raw_df.date.unique()
        for i in df_date_list:
            if len(raw_df[raw_df.date == i]) != 1440:
                print(raw_df[raw_df.date == i])

In [ ]:
import pandas as pd

In [ ]:
# 데이터 보간
        raw_df = self.interpolate_missing_date(raw_df)
    biz_raw_df = self.interpolate_missing_date(biz_raw_df)
    raw_test_df = self.interpolate_missing_date(raw_test_df)

In [ ]:
    def interpolate_missing_date(self, df):
        """
        description
            - 각 분별 missing data 보간하는 함수, 각 날짜에 빠져 있는 시간을 선형 보간
        Parameters
        ----------
            - df : analyzer.aimodule.AIModule 을 통해 반환된 학습 csv의 DataFrame

        Returns
        -------
            - data : 각 날짜에 빠져 있는 시간에 선형 보간을 통해 채운 데이터
        """
        # 변수 'time' 의 type 을 datetime 으로 변경
        df['time'] = pd.to_datetime(df['time'])
        df.reset_index(drop=True, inplace=True)
        df['date'] = df['time'].dt.date
        df = df.set_index('time')
        # 날짜 데이터 리스트 생성
        df_date_list = df.date.unique()
        total_min_df = pd.DataFrame()
        # 특정 날짜에 데이터가 1440개가 아닐 경우 리샘플을 통해 결측 시간 nan 값 채우기
        for i in df_date_list:
            if len(df[df.date == i]) == 1440:
                data = df[df.date == i]
            else:
                data = df[df.date == i].resample('1T').asfreq()
            total_min_df = pd.concat([total_min_df, data])
        # 선형 보간
        data = total_min_df.interpolate(method='linear')
        data.reset_index(inplace=True)
        data.drop('date', axis=1, inplace=True)
        # 인덱스 재설정
        idx_list = []
        for j in range(int(len(data) / 1440)):
            for i in range(1440):
                idx_list.append(i)
        data['idx'] = idx_list
        data.set_index('idx', inplace=True)
        return data